*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body,html{
    height:100%;
    width:100%;
    
}


#main{
    height: 100vh;
    width:100%;
    background-color: #151515;
    display: flex;
}

#video{
    height:100%;
    width:60%;
    background-color: aqua;
}

#scrolled-text{
    height:100%;
    width:40%;
    background-color: rgb(255, 0, 0);
}


.Card h4{
    font-size: 40px;
    font-family: "urbanians";
}




























































