*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #151515;
    overflow: hidden;
}

:root{
--Bar_scroller :100%;
}

#screen{
    height:100vh;
     width:100%;
     background-color:red;display:flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     overflow-y: hidden;
}
#screen img{
    height:100%;
    width:100%;

    object-fit: cover;
}


@keyframes tab {
    0%{
        --Bar_scroller:100%;
    }

    100%{
        --Bar_scroller:95%;
    }
}
#screen:hover  #taskbar{
    animation-name: tab ;
    animation-duration: 2s;
   
    /* animation-delay: 2s; */
    animation-iteration-count: linear;
   
    animation-timing-function: ease-in;
   
}

#taskbar{
   top: var(--Bar_scroller);

    position: absolute;
    height:6vh;
    width:100%;
     background-color: aqua;
}



