*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: #151515;
}
:root{
    --x:100px;
    --y:100px;
}
#box{
height:100vh;
width:100%;
/* background:linear-gradient(in hsl to right, rgb(255, 255, 255), red ); */
background:radial-gradient(180px at var(--x) var(--y),rgba(255, 0, 0, 0) , rgb(0, 0, 0));
border:2px solid rgb(255, 255, 255);
position: absolute;
}


#main{
    height:100vh;
   overflow: hidden;
    width:100vw;
    display:flex;
   display: grid;
   justify-content: center;
   align-items: center;

   grid-template-columns: repeat(4, 22%);
   grid-template-rows: repeat(3, 60vh);
    gap:15px;
}


.cards{
    height:40vh;
  width:20vw;
    white-space: nowrap;
   background-color: seagreen;
  gap:20px;

  border: 2px solid white;
  padding:20px 0px;
}


/* creating a variable */
:root{
    --card-height: 300px;
    --card-width: 200px;
}

.card{
    height:var(--card-height);
    width:var(--card-width);
   
}






















